*{
    margin: 0;
    padding: 0;
  }
  body{
    background: linear-gradient(180deg, #6F7DFB 100%, #26308C 100%);
  }
  
  .main{
    width: 100% ;
    background:url(images/home.png);
    background-position: center;
    background-size: cover;
    height: 593px;
  }
  nav{
    position: absolute;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
  }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
  }
  .menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  .menu ul{
    display: inline-flex;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .content1{
    position: absolute;
    width: 1207.31px;
    height: 40px;
    left: 3px;
    top: 295.87px;
    
    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 40px;
    /* identical to box height, or 50% */
    
    text-align: center;
    
    color: #FFFFFF;
    
    transform: rotate(-0.94deg);
      
    }
    .content2{
      position: absolute;
      width: 1216px;
      height: 63px;
      left: 0px;
      top: 356px;
      
      font-family: 'Salsa';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 37px;
      text-align: right;
      
      color: #FFFFFF;
  }
    .contactform{
      position: absolute;
      width: 403px;
      height: 288px;
      left: 899px;
      margin: auto;
      border-radius:5px;
      background: white;
      padding: 20px;
     }
   
   .h3
   {
     font-size: 25px;
     color: black;
     font-weight: 400;
   }
   .contactform h2{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 4px 2px 10px 10px;
      gap: 10px;
      background: #6F7DFB;
      mix-blend-mode: darken;
      border-radius: 15px;
   }
   input[type=text], select{
        width: 100%;
        padding: 12px 20px;
        font-size: 15px;
        margin:8px 0;
        display: inline-block;
        border:1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
   }
   input[type=date], select{
      width: 100%;
      padding: 12px 20px;
      margin:8px 0;
      display: inline-block;
      border:1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
   }
   .label{
      width: 143px;
      height: 42px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      text-align: center;
   }
   .row .column h2{
      color: black;
      font-family: 'Irish Grover';
      font-style: normal;
   }
    .button {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      background: #6F7DFB;
      mix-blend-mode: darken;
      border-radius: 15px;
      padding-left:25%;
      position: relative;
  
    }
    .button p{
      width: 143px;
      height: 30px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      text-align: center;
      color: #000000;
      mix-blend-mode: normal;
      
      /* Inside auto layout */
      
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    .button:active {
      background-color: #3e8e41;
      transform: translateY(4px);
      padding-left:25%;
    }
    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
     
      
    }
  
    .row .column img{
      height: 300px;
    }
  
  
    /*.................................................*/
    .container {
      color: black;
      margin-top: 10%;
      
      
  }
  
  .catalog_text {
    
      font-size: 3vw;
      
      height: 15vh;
      box-sizing: border-box;
      display: grid;
      place-items: center;
      background-color: white;
  }
  .containers{
      width: 100%;
      display: grid;
      grid-template-columns:40% 20% 40%;
      grid-gap: 5%;
      height : 20vh; 
  }
    


    
    .hello{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 5px;
      margin-left: 13%;
      margin-right: 50%;
      gap: 10px;
      font-size: 35px;
      position: absolute;
      font-weight: 100;
      left: 519px;
      top: 95px;
      
      background: #FFFFFF;
      border-radius: 25px;
      }
  
    
 
  
  .menu_container {
      height: 60vh;
  
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .menu_right {
      display: grid;
      
  }
  
  
  .menu_left {
      height: 100%;
  }
  .image_container {
      width: 100%;
      height: 100%;
      padding-left: 10%;
      
  }
  .photo{
      position: absolute;
      width: 561.99px;
      height: 351.69px;
      border: 1px solid #000000;
      border-radius: 71px;
      transform: rotate(-0.03deg);
  }
  
  
  
  
    
    
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 500px){
      .column {
        width: 100%;
      }
    
      header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
        color: #4C4C4C;
    }
    .menu .logo {
      height: 30px;
      width: 180px;
    }
    
    
    .menu ul{
      display: inline-flex;
    }
    .menu ul li{
      list-style: none;
      margin-left: 7px;
    }
    .menu ul li:first-child{
      margin-left: 0px;
    }
    .menu ul li a{
      text-decoration: none;
      color: #fff;
      font-size: 8px;
      font-weight: 500;
      padding: 1px 5px;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .hello{
      display:block;
      flex-direction: row;
      align-items: flex-start;
      padding: 5px;
      margin-left: 13%;
      gap: 10px;
      font-size: 30px;
      position: absolute;
      font-weight: 100;
      left: 80px;
      top: 95px;
      background: #FFFFFF;
      border-radius: 25px;
      }
    
    
    
    .contactform{
      position: absolute;
      width: 300px;
      height: 288px;
      left: 76px;
      top:170px;
      margin: auto;
      border-radius:5px;
      background: white;
      padding: 20px;
     }
   
   .h3
   {
     font-size: 25px;
     color: black;
     font-weight: 400;
   }
   .contactform h2{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 4px 2px 10px 10px;
      gap: 10px;
      background: #6F7DFB;
      mix-blend-mode: darken;
      border-radius: 15px;
   }
   input[type=text], select{
        width: 100%;
        padding: 12px 20px;
        font-size: 15px;
        margin:8px 0;
        display: inline-block;
        border:1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
   }
   input[type=date], select{
      width: 100%;
      padding: 12px 20px;
      margin:8px 0;
      display: inline-block;
      border:1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
   }
   .label{
      width: 143px;
      height: 42px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      text-align: center;
   }
   .row .column h2{
      color: black;
      font-family: 'Irish Grover';
      font-style: normal;
   }
    .button {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      background: #6F7DFB;
      mix-blend-mode: darken;
      border-radius: 15px;
      padding-left:25%;
      position: relative;
  
    }
    .button p{
      width: 143px;
      height: 30px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      text-align: center;
      color: #000000;
      mix-blend-mode: normal;
      
      /* Inside auto layout */
      
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    .button:active {
      background-color: #3e8e41;
      transform: translateY(4px);
      padding-left:25%;
    }
    
    .main{
      width: 100% ;
      background:url(images/home.png);
      background-position: center;
      background-size: cover;
      height: 493px;
      } 
      nav{
        position: absolute;
        width: 100%;
        padding: 10px 0;
        z-index: 1;
      }
      nav .menu{
        max-width: 1250px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
      }  
    .p1{
      position: absolute;
      width: 1203.12px;
      height: 27.05px;
      left: 0px;
    
      padding-left: 10%;
     
      font-family: 'Salsa';
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 28px;
      text-align: center;
    
      color: #FFFFFF;
    
    }
    .image_container {
      width: 100%;
      height: 300px;
      padding-left: 15px;
      
  }
  .photo{
      position: absolute;
      width: 450px;
      height: 250px;
      border: 1px solid #ffff;
      border-radius: 2px;
      transform: rotate(-0.03deg);
      margin-top: 430px;
  }
  .footer{
    position: absolute;
    width: 100%;
    height: 35px;
    left: -1px;
    top: 800px;
    background: linear-gradient(180deg, #4554df 100%, #717ffe 50%);
  } 
  .p1{
    position: absolute;
    width: 450px;
    height: 15.05px;
    left: 0px;
  
    padding-left: 0%;
   
    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 15px;
    text-align: center;
  
    color: #FFFFFF;
  
  }
  .p2{
    
      position: absolute;
      width: 450px;
      height: 21px;
      padding-left: 0%;
      
      font-family: 'Salsa';
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.15em;
      color: #000000;
  }
  
  }